{% block form %}

    {% import "@SonataAdmin/CRUD/base_edit_form_macro.html.twig" as form_helper %}
    {{ sonata_block_render_event('sonata.admin.edit.form.top', { 'admin': admin, 'object': object }) }}

    {# NEXT_MAJOR: remove default filter #}
    {% set url = objectId|default(admin.id(object)) is not null ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url) %}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <form
                {% if sonata_admin.adminPool.getOption('form_type') == 'horizontal' %}class="form-horizontal"{% endif %}
                role="form"
                {# NEXT_MAJOR: remove default filter #}
                action="{% block sonata_form_action_url %}{{ admin.generateUrl(url, {'id': objectId|default(admin.id(object)), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}{% endblock %}"
                {% if form.vars.multipart %} enctype="multipart/form-data"{% endif %}
                method="POST"
                {% if not sonata_admin.adminPool.getOption('html5_validate') %}novalidate="novalidate"{% endif %}
                {% block sonata_form_attributes %}{% endblock %}
        >

            {{ include('@SonataAdmin/Helper/render_form_dismissable_errors.html.twig') }}
            <div class="nav-tabs-custom">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab_s5c0c201f55662_1">
                        <div class="box-body  container-fluid">
                            <div class="sonata-ba-collapsed-fields">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            {{ form_label(form.firstname) }}
                                            {{ form_errors(form.firstname) }}
                                            {{ form_widget(form.firstname) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_label(form.lastname) }}
                                            {{ form_errors(form.lastname) }}
                                            {{ form_widget(form.lastname) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_label(form.username) }}
                                            {{ form_errors(form.username) }}
                                            {{ form_widget(form.username) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_label(form.email) }}
                                            {{ form_errors(form.email) }}
                                            {{ form_widget(form.email) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_label(form.seccional) }}
                                            {{ form_errors(form.seccional) }}
                                            {{ form_widget(form.seccional) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_label(form.area) }}
                                            {{ form_errors(form.area) }}
                                            {{ form_widget(form.area) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_label(form.plainPassword) }}
                                            {{ form_errors(form.plainPassword) }}
                                            {{ form_widget(form.plainPassword) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_label(form.phone) }}
                                            {{ form_errors(form.phone) }}
                                            {{ form_widget(form.phone) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_label(form.roles) }}
                                            {{ form_errors(form.roles) }}
                                            {{ form_widget(form.roles) }}
                                        </div>
                                        <div class="col-md-6" style="padding-left: 35px; padding-top: 20px ">
                                            {{ form_label(form.locked) }}
                                            {{ form_errors(form.locked) }}
                                            {{ form_widget(form.locked) }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        {{ form_rest(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block formactions %}
                <div class="sonata-ba-form-actions well well-small form-actions">
                    {% block sonata_form_actions %}
                        {% if app.request.isxmlhttprequest %}
                            {# NEXT_MAJOR: remove default filter #}
                            {% if objectId|default(admin.id(object)) is not null %}
                                <button type="submit" class="btn btn-success" name="btn_update"><i class="fa fa-save"
                                                                                                   aria-hidden="true"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-success" name="btn_create"><i
                                            class="fa fa-plus-circle"
                                            aria-hidden="true"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}
                                </button>
                            {% endif %}
                        {% else %}
                            {% if admin.supportsPreviewMode %}
                                <button class="btn btn-info persist-preview" name="btn_preview" type="submit">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                                </button>
                            {% endif %}
                            {# NEXT_MAJOR: remove default filter #}
                            {% if objectId|default(admin.id(object)) is not null %}
                                <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i
                                            class="fa fa-save"
                                            aria-hidden="true"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}
                                </button>

                                {% if admin.hasRoute('list') and admin.hasAccess('list') %}
                                    <button type="submit" class="btn btn-success" name="btn_update_and_list"><i
                                                class="fa fa-save"></i> <i class="fa fa-list"
                                                                           aria-hidden="true"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}
                                    </button>
                                {% endif %}

                                {% if admin.hasRoute('delete') and admin.hasAccess('delete', object) %}
                                    {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                    <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i
                                                class="fa fa-minus-circle"
                                                aria-hidden="true"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}
                                    </a>
                                {% endif %}

                                {% if admin.isAclEnabled() and admin.hasRoute('acl') and admin.hasAccess('acl', object) %}
                                    <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i
                                                class="fa fa-users"
                                                aria-hidden="true"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if admin.hasroute('edit') and admin.hasAccess('edit') %}
                                    <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i
                                                class="fa fa-save"
                                                aria-hidden="true"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}
                                    </button>
                                {% endif %}
                                {% if admin.hasroute('list') and admin.hasAccess('list') %}
                                    <button type="submit" class="btn btn-success" name="btn_create_and_list"><i
                                                class="fa fa-save"></i> <i class="fa fa-list"
                                                                           aria-hidden="true"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}
                                    </button>
                                {% endif %}
                                <button class="btn btn-success" type="submit" name="btn_create_and_create"><i
                                            class="fa fa-plus-circle"
                                            aria-hidden="true"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}
                                </button>
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock formactions %}
        </form>
    {% endif %}

    {{ sonata_block_render_event('sonata.admin.edit.form.bottom', { 'admin': admin, 'object': object }) }}

{% endblock %}
