{% extends "::base.reporte.html.twig" %}
{% block body %}
    {%set solicitud = object%}
    <div class="col-xs-12">
        <div class="col-xs-8"><img src="{{app.request.getSchemeAndHttpHost()}}/bundles/frontend/images/logo_pdf.jpg"/></div>
        <div class="col-xs-4 text-bottom texto_titulo"><b>Fecha solicitud:</b> {{solicitud.solicitudfecha|date("d/m/Y")}}</div>
        <div class="col-xs-12 padding-espacio">&nbsp;</div>
        <div class="col-xs-6 texto_azul texto_titulo text-left"><b>Reporte de solicitud de beneficios</b></div>
        <div class="col-xs-6 texto_titulo text-right"><b>Consecutivo:</b> {{solicitud.id}} </div>
        <div class="col-xs-12 padding-espacio">&nbsp;</div>
        <div class="col-xs-12 borde_azul">
            {%if solicitud.idtiposolicitud.id == 1 %}
                <div class="col-xs-12 text-center texto_azul texto_titulo"><b>Información familiar y personal</b></div>
                <div class="col-xs-3">
                    {%if solicitud.foto != null%}
                        <img class="foto" src="{{app.request.getSchemeAndHttpHost()}}/upload/{{solicitud.foto}}"/>
                    {%else%}
                        <img class="foto" src="{{app.request.getSchemeAndHttpHost()}}/bundles/frontend/images/silueta.png"/>
                    {%endif%}
                </div>
                <div class="col-xs-9">&nbsp;</div>
                <div class="col-xs-3">Parentesco: {{solicitud.idparentesco}}</div>
                <div class="col-xs-3">Estado civil: {{solicitud.idestadocivil}}</div>
                <div class="col-xs-3">Ingresos: {{solicitud.idingreso}}</div>
                <div class="col-xs-3">Personas a cargo: {{solicitud.idpersonacargo }}</div>
                <div class="col-xs-3">Vivienda: {{solicitud.idsituacionvivienda}}</div>
                <div class="col-xs-3">Dificultad: {{solicitud.idmotivodeuda}}</div>
                <div class="col-xs-3">Beneficios recibidos AOS: {{solicitud.cantidadesbeneficio}}</div>
                <div class="col-xs-3">Visita domiciliaria: {{solicitud.idconceptovisita}}</div>
                <div class="col-xs-3">¿Afiliado a DIBIE?: {{solicitud.idafiliadodibie}}</div>
                <div class="col-xs-3">Beneficiario: {{solicitud.nombreBeneficiarioFinal}}</div>
                <div class="col-xs-3">Documento: {{solicitud.documentoBeneficiarioFinal}}</div>
            </div>
            <div class="col-xs-12">&nbsp;</div>
            <div class="col-xs-12 borde_azul">
                <div class="col-xs-12 text-center texto_azul texto_titulo"><b>Informacíon funcionario de policía</b></div>
                <div class="col-xs-3">Nombre: {{solicitud.solicitudnombrefuncionario}}</div>
                <div class="col-xs-3">Número de identificación: {{solicitud.solicitudcedulafuncionario}}</div>
                <div class="col-xs-3">Grado: {{solicitud.idgrado}}</div>
                <div class="col-xs-3">Unidad: {{solicitud.unidad}}</div>
                <div class="col-xs-3">Dirección: {{solicitud.solicituddireccionfuncionario}}</div>
                <div class="col-xs-3">Teléfono: {{solicitud.solicitudtelefonosfuncionario}}</div>
                <div class="col-xs-3">antigüedad: {{solicitud.antiguedad}}</div>
            {%else%}
                <div class="col-xs-12 text-center texto_azul texto_titulo"><b>Informacíon institucional</b></div>
                <div class="col-xs-6">Población a beneficiar: {{solicitud.idpoblacionbeneficia}}</div>
                <div class="col-xs-6">Viabilidad planeación: {{solicitud.idviabilidadplaneacion}}</div>
                <div class="col-xs-6">Zona de ubicación: {{solicitud.idzonaubicacion}}</div>
                <div class="col-xs-6">Cantidad de beneficios institucionales: {{solicitud.idcantidadesbeneficioinst}}</div>
            {%endif%}
        </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 borde_azul">
            <div class="col-xs-12 text-center texto_azul texto_titulo"><b>Descripción de la solicitud.</b></div>
            <div class="col-xs-12">
                {{solicitud.solicituddescripcion}}
            </div>
            <div class="col-xs-12 text-center">Programas</div>
            <div class="col-xs-12">
                {%for programa in solicitud.programas%}
                    <div class="col-xs-12">{{programa.programa}}</div>
                {%endfor%}
            </div>
        </div>
    {% endblock %}