{% extends '::base.html.twig' %}

{% block body -%}
    <div class="top-content">
        <div class="container" style="width: 90% !important">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1>Bienvenido a <strong>Formulario de Solicitudes </strong> AOS </h1>
                    <div class="description">
                        <p>
                            Retorno a la Pagina Principal de Obras Sociales. 
                            ingresa en <a href="http://obrassocialespolicia.org/obras/"><strong>Obras Sociales</strong></a>, Bienvenido Al Portal Obras Sociales!
                        </p>
                    </div>
                </div>
            </div>
            {{ form_start(form) }}
            <div class="row">
                <div class="f1 col-md-20 form-box">
                    <h3><font color="#054e96"> Formulario de Solicitudes</font></h3>

                    <div align="float:center"><img src="\web\bundles\frontend\images\logo.png" height="160" width="200"></div>
                    <p><font color="#054e96"><b>Asociación Obras Sociales en Beneficio de la Policia Nacional</b></p>
                    <hr style="border-color:grey;">


                    <div class="col-md-12">

                        <div class="col-md-2" ><b>
                                {{ form_label(form.solicitudfecha) }}
                                {{ form_errors(form.solicitudfecha) }}
                                {{ form_widget(form.solicitudfecha) }}
                        </div></b>
                        <div class="col-md-5"> <b>
                                {{ form_label(form.idseccional) }}
                                {{ form_errors(form.idseccional) }}
                                {{ form_widget(form.idseccional) }}
                        </div></b>
                        <div class="col-md-5"><b>
                                {{ form_label(form.idtiposolicitud) }}
                                {{ form_errors(form.idtiposolicitud) }}
                                {{ form_widget(form.idtiposolicitud) }}
                        </div></b>

                        <div class="col-md-6"><b>
                                {{ form_label(form.solicitudcedulasolicita) }}
                                {{ form_errors(form.solicitudcedulasolicita) }}
                                {{ form_widget(form.solicitudcedulasolicita) }}
                        </div></b>
                        <div class="col-md-6"><b>
                                {{ form_label(form.idparentesco) }}
                                {{ form_errors(form.idparentesco) }}
                                {{ form_widget(form.idparentesco) }}
                        </div></b>
                        <div class="col-md-12"><b>
                                {{ form_label(form.solicitudnombresolicita) }}
                                {{ form_errors(form.solicitudnombresolicita) }}
                                {{ form_widget(form.solicitudnombresolicita) }}
                        </div></b>
                    </div>
                    <div class="col-md-12">
                        <hr style="border-color:white;">
                        <hr style="border-color:white;">
                        <hr style="border-color:white;">
                        <h4><b>INFORMACION FUNCIONARIO POLICIAL</b></h4>
                        <hr style="border-color:white"></div>

                    <div class="col-md-12"><b>
                            <div class="col-md-4" ><b>
                                    {{ form_label(form.solicitudcedulafuncionario) }}
                                    {{ form_errors(form.solicitudcedulafuncionario) }}
                                    {{ form_widget(form.solicitudcedulafuncionario) }}
                            </div></b>
                        <div class="col-md-4">
                            {{ form_label(form.idgrado) }}
                            {{ form_errors(form.idgrado) }}
                            {{ form_widget(form.idgrado) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_label(form.unidad) }}
                            {{ form_errors(form.unidad) }}
                            {{ form_widget(form.unidad) }}
                            <hr style="border-color:white;">
                        </div>
                        <div class="col-md-12">
                            {{ form_label(form.solicitudnombrefuncionario) }}
                            {{ form_errors(form.solicitudnombrefuncionario) }}
                            {{ form_widget(form.solicitudnombrefuncionario) }}
                            <hr style="border-color:white;">
                        </div>
                        <div class="col-md-4">
                            {{ form_label(form.solicituddireccionfuncionario) }}
                            {{ form_errors(form.solicituddireccionfuncionario) }}
                            {{ form_widget(form.solicituddireccionfuncionario) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_label(form.solicitudtelefonosfuncionario) }}
                            {{ form_errors(form.solicitudtelefonosfuncionario) }}
                            {{ form_widget(form.solicitudtelefonosfuncionario) }}
                        </div>    
                        <div class="col-md-4">
                            {{ form_label(form.antiguedad) }}
                            {{ form_errors(form.antiguedad) }}
                            {{ form_widget(form.antiguedad) }}
                        </div>  
                    </div></b>

                    <div class="col-md-12"><b>
                            <div class="col-md-12">  
                                <hr style="border-color:white;">
                                <hr style="border-color:white;">
                                <hr style="border-color:white;">         
                                <h4><b>DESCRIPCION DE LA SOLICITUD</b></h4></div>

                            <div class="col-md-4">
                                {{ form_label(form.programas) }}
                                {{ form_errors(form.programas) }}
                                {{ form_widget(form.programas) }}
                            </div>

                            <div class="col-md-8">
                                {{ form_label(form.solicituddescripcion) }}
                                {{ form_errors(form.solicituddescripcion) }}
                                {{ form_widget(form.solicituddescripcion) }}
                            </div></b>

                        <div class="prueba1">
                            <div class="col-md-12"><b>
                                    <div>
                                        <hr style="border-color:white;">
                                        <hr style="border-color:white;">
                                        <h4><b>INFORMACION FAMILIAR Y PERSONAL</b></h4>
                                    </div>
                            </div>

                            <div class="col-md-4">
                                {{ form_label(form.idestadocivil) }}
                                {{ form_errors(form.idestadocivil) }}
                                {{ form_widget(form.idestadocivil) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.idingreso) }}
                                {{ form_errors(form.idingreso) }}
                                {{ form_widget(form.idingreso) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.idpersonacargo) }}
                                {{ form_errors(form.idpersonacargo) }}
                                {{ form_widget(form.idpersonacargo) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.idsituacionvivienda) }}
                                {{ form_errors(form.idsituacionvivienda) }}
                                {{ form_widget(form.idsituacionvivienda) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.idmotivodeuda) }}
                                {{ form_errors(form.idmotivodeuda) }}
                                {{ form_widget(form.idmotivodeuda) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.cantidadesbeneficio) }}
                                {{ form_errors(form.cantidadesbeneficio) }}
                                {{ form_widget(form.cantidadesbeneficio) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.idconceptovisita) }}
                                {{ form_errors(form.idconceptovisita) }}
                                {{ form_widget(form.idconceptovisita) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.idafiliadodibie) }}
                                {{ form_errors(form.idafiliadodibie) }}
                                {{ form_widget(form.idafiliadodibie) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.documentoBeneficiarioFinal) }}
                                {{ form_errors(form.documentoBeneficiarioFinal) }}
                                {{ form_widget(form.documentoBeneficiarioFinal) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.nombreBeneficiarioFinal) }}
                                {{ form_errors(form.nombreBeneficiarioFinal) }}
                                {{ form_widget(form.nombreBeneficiarioFinal) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.fotoFile) }}
                                {{ form_errors(form.fotoFile) }}
                                {{ form_widget(form.fotoFile) }}
                            </div>
                        </div>

                        <div class="prueba">
                            <div class="col-md-12">
                                <div >
                                    <hr style="border-color:white;">
                                    <hr style="border-color:blue;">
                                    <h4><b>INFORMACION INSTITUCIONAL</b></h4></div></div>

                            <div class="col-md-6">
                                {{ form_label(form.idpoblacionbeneficia) }}
                                {{ form_errors(form.idpoblacionbeneficia) }}
                                {{ form_widget(form.idpoblacionbeneficia) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.idviabilidadplaneacion) }}
                                {{ form_errors(form.idviabilidadplaneacion) }}
                                {{ form_widget(form.idviabilidadplaneacion) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.idzonaubicacion) }}
                                {{ form_errors(form.idzonaubicacion) }}
                                {{ form_widget(form.idzonaubicacion) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.idcantidadesbeneficioinst) }}
                                {{ form_errors(form.idcantidadesbeneficioinst) }}
                                {{ form_widget(form.idcantidadesbeneficioinst) }}
                                <hr style="border-color:white;">
                            </div>

                        </div>
                    </div>

                    {{ form(form) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <ul class="record_actions">

        </ul>

    </div>
{% endblock %}
