{% if datos %}
    <div class="box box-primary">
        <div id="chart_div" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <table class="table table-bordered table-responsive table-striped" style="max-width: 60%; margin:auto;">
            <tbody>
            {% set total = 0 %}
            {% for entidad,valores in datosParaTabla %}
                <tr>
                    <td colspan="2" style="width: 50%" class="text-center">
                        {{ labels[entidad] }}
                    </td>
                </tr>
                {% set totalParcial = 0 %}
                {% for campo,valor in valores %}
                    {% if valor != 0 %}
                    <tr>
                        <td>
                            {{ campo }}
                        </td>
                        <td>
                            {{ valor }}
                            {% set total = total + valor %}
                            {% set totalParcial = totalParcial + valor %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td><b>Total {{ labels[entidad] }}</b></td>
                    <td><b>{{ totalParcial }}</b></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
    <script type="text/javascript">

        Highcharts.chart('chart_div', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Grafica por agrupaciones'
            },
            xAxis: {
                categories: [
                    {% for entidad , categorias in columnas %}
                    '{{ entidad }}'{%- if not loop.last %},{% endif -%}
                    {% endfor %}
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total de solicitudes'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: false,
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            series: [
                {% for categoria , dato in datos %}
                {
                    name: '{{ categoria }}',
                    data:{{ dato|json_encode|raw }}

                }{%- if not loop.last %},{% endif -%}
                {% endfor %}

            ]
        });
    </script>

{% else %}
    <div>No se encontró información con los parametros de busqueda.</div>
{% endif %}
