{% if movimientos %}
    <style>
        .titulo {
            height: 40px;
            background-color: #5AC7FF;
        }

        .elemento1 {
            background-color: gray;
            height: 20px;
        }

        .elemento2 {
            height: 20px;
            background-color: white;
        }
    </style>
        <br>
        <br>
        <table class="text-center">
            <tr>
                <th class="titulo">Solicitante</th>
                <th class="titulo">Titular</th>
                <th class="titulo">Seccional</th>
                <th class="titulo">Área</th>
                <th class="titulo">Beneficio entregado</th>
            </tr>
            {% set cuenta = 1 %}
            {% for movimiento in movimientos %}
                <tr>

                    <td class="{% if cuenta is even %}elemento1{% else %}elemento2{% endif %}">{{ movimiento.concepto.solicitud.solicitudnombresolicita }}</td>
                    <td class="{% if cuenta is even %}elemento1{% else %}elemento2{% endif %}">{{ movimiento.concepto.solicitud.solicitudnombrefuncionario }}</td>
                    <td class="{% if cuenta is even %}elemento1{% else %}elemento2{% endif %}">{{ movimiento.seccional }}</td>
                    <td class="{% if cuenta is even %}elemento1{% else %}elemento2{% endif %}">{{ movimiento.presupuesto.idarea }}</td>
                    <td class="{% if cuenta is even %}elemento1{% else %}elemento2{% endif %}">{{ movimiento.valor }}</td>
                </tr>
                {% set cuenta = cuenta + 1 %}
            {% endfor %}
        </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% else %}
    <div>No se encontró información con los parametros de busqueda.</div>
{% endif %}
